body {
   font-family: Arial, sans-serif;
   background: #f0f0f0;
   color: #333;
}
h1 {
   color: #030d4b;
   text-align: center;
}
h2 {
   color: #030d4b;
   text-align: center;
}

a {
   color: #e67e22;
   text-decoration: none;
   font-weight: bold;
}
